.Footer {
  // background-image: url("../assets/images/portfolio-bg.svg");
  // background-image: url("../assets/images/about-bg.svg");
  background-color: #0c111c;
  color: #cb554d;
  padding: 50px 20px;
}